In [89]:
import pandas as pd
import ast

In [90]:
df = pd.read_csv('../data/mutant-ape-collection.csv', index_col=0)

In [36]:
df.tail()

,id,token_id,asset_contract_address,permalink,traits,image_original_url,created_date,current_price,last_sale_total_price,last_sale_event_timestamp
11838,85514820,14638,0x60e4d786628fea6478f785a6d7e704777c86a7c6,https://opensea.io/assets/0x60e4d786628fea6478...,"[{'trait_type': 'Fur', 'value': 'M1 Pink', 'di...",https://ipfs.io/ipfs/Qmdw62E19zNpfWiTjsTafuBH6...,2021-08-29T00:41:59.548458,22.5,6.1616,2021-11-13T22:29:59
11839,42901590,14642,0x60e4d786628fea6478f785a6d7e704777c86a7c6,https://opensea.io/assets/0x60e4d786628fea6478...,"[{'trait_type': 'Mouth', 'value': 'M1 Bored Un...",https://ipfs.io/ipfs/QmZXmsbpDbbcmuhCr2dqor1AU...,2021-08-29T00:41:59.548458,Not on sale. Taking offers.,6.89,2021-12-18T01:13:00
11840,42225217,14644,0x60e4d786628fea6478f785a6d7e704777c86a7c6,https://opensea.io/assets/0x60e4d786628fea6478...,"[{'trait_type': 'Background', 'value': 'M1 Aqu...",https://ipfs.io/ipfs/QmUctNXyxGnX6LvjmQoJqpFJF...,2021-08-29T00:41:59.548458,Not on sale. Taking offers.,6.0,2021-11-30T18:20:12
11841,42532217,14646,0x60e4d786628fea6478f785a6d7e704777c86a7c6,https://opensea.io/assets/0x60e4d786628fea6478...,"[{'trait_type': 'Background', 'value': 'M1 Aqu...",https://ipfs.io/ipfs/QmUVXi6k83uqr8svAwdHwwu2o...,2021-08-29T00:41:59.548458,Not on sale. Taking offers.,Not available.,Not available.
11842,42346257,14648,0x60e4d786628fea6478f785a6d7e704777c86a7c6,https://opensea.io/assets/0x60e4d786628fea6478...,"[{'trait_type': 'Mouth', 'value': 'M1 Bored Un...",https://ipfs.io/ipfs/QmWn8H7tDnB4DkoevNmHisnAR...,2021-08-29T00:41:59.548458,Not on sale. Taking offers.,9.0,2021-12-26T07:46:49

In [39]:
test_output_traits = df.iloc[4]['traits']
print("Type of output: {}".format(type(test_output_traits)))
print(test_output_traits)

Type of output: <class 'str'>
[{'trait_type': 'Background', 'value': 'M1 Yellow', 'display_type': None, 'max_value': None, 'trait_count': 1775, 'order': None}, {'trait_type': 'Earring', 'value': 'M1 Silver Stud', 'display_type': None, 'max_value': None, 'trait_count': 1082, 'order': None}, {'trait_type': 'Eyes', 'value': 'M1 Bored', 'display_type': None, 'max_value': None, 'trait_count': 2302, 'order': None}, {'trait_type': 'Hat', 'value': 'M1 S&m Hat', 'display_type': None, 'max_value': None, 'trait_count': 307, 'order': None}, {'trait_type': 'Fur', 'value': 'M1 Death Bot', 'display_type': None, 'max_value': None, 'trait_count': 269, 'order': None}, {'trait_type': 'Mouth', 'value': 'M1 Jovial', 'display_type': None, 'max_value': None, 'trait_count': 386, 'order': None}, {'trait_type': 'Clothes', 'value': 'M1 Blue Dress', 'display_type': None, 'max_value': None, 'trait_count': 125, 'order': None}]

Above output is a list containing multiple dictionaries. The list however is stored as a string and string version needs to be converted into a list. Using the **ast** library to accomplish that.

In [40]:
x = ast.literal_eval(test_output_traits)

In [41]:
type(x)

list

In [43]:
len(x)

7

In [52]:
x[0]

{'trait_type': 'Background',
 'value': 'M1 Aquamarine',
 'display_type': None,
 'max_value': None,
 'trait_count': 1705,
 'order': None}

Go through each row, add trait_type into a list. When done, filter only unique values.

In [47]:
trait_types=[]
for i in range(11842):
    test_output_traits = df.iloc[i]['traits']
    x = ast.literal_eval(test_output_traits)
    for j in range(len(x)):
        trait_types.append(x[j]['trait_type'])

In [51]:
set(trait_types)

{'Background', 'Clothes', 'Earring', 'Eyes', 'Fur', 'Hat', 'Mouth', 'Name'}

There are seven unique trait_types. \
Now we create 7 * 5 new columns that will hold trait labels for each row. \
'value_background', 'display_type_background', 'max_value_background', 'trait_count_background', 'order_background' \
'value_clothes', 'display_type_clothes', 'max_value_clothes', 'trait_count_clothes', 'order_clothes' \
...

### Initialize new columns in the Dataframe

In [91]:
# Background
df['value_background']='-'
df['display_type_background']='-'
df['max_value_background']='-'
df['trait_count_background']='-'
df['order_background']='-'

# Clothes
df['value_clothes']='-'
df['display_type_clothes']='-'
df['max_value_clothes']='-'
df['trait_count_clothes']='-'
df['order_clothes']='-'

# Earring
df['value_earring']='-'
df['display_type_earring']='-'
df['max_value_earring']='-'
df['trait_count_earring']='-'
df['order_earring']='-'

# Eyes
df['value_eyes']='-'
df['display_type_eyes']='-'
df['max_value_eyes']='-'
df['trait_count_eyes']='-'
df['order_eyes']='-'

# Fur
df['value_fur']='-'
df['display_type_fur']='-'
df['max_value_fur']='-'
df['trait_count_fur']='-'
df['order_fur']='-'

# Hat
df['value_hat']='-'
df['display_type_hat']='-'
df['max_value_hat']='-'
df['trait_count_hat']='-'
df['order_hat']='-'

# Mouth
df['value_mouth']='-'
df['display_type_mouth']='-'
df['max_value_mouth']='-'
df['trait_count_mouth']='-'
df['order_mouth']='-'

### Append Trait values into the columns

In [92]:
for index, row in df.iterrows():
#     df['value_background'] = ast.literal_eval(df['traits'])[index]['value']
    base = ast.literal_eval(df.iloc[index]['traits'])
    for i in range(len(base)):
        if base[i]['trait_type']=='Background':
            df.iloc[index, df.columns.get_loc('value_background')]=base[i]['value']
            df.iloc[index, df.columns.get_loc('display_type_background')]=base[i]['display_type']
            df.iloc[index, df.columns.get_loc('max_value_background')]=base[i]['max_value']
            df.iloc[index, df.columns.get_loc('trait_count_background')]=base[i]['trait_count']
            df.iloc[index, df.columns.get_loc('order_background')]=base[i]['order']
            
        elif base[i]['trait_type']=='Clothes':
            df.iloc[index, df.columns.get_loc('value_clothes')]=base[i]['value']
            df.iloc[index, df.columns.get_loc('display_type_clothes')]=base[i]['display_type']
            df.iloc[index, df.columns.get_loc('max_value_clothes')]=base[i]['max_value']
            df.iloc[index, df.columns.get_loc('trait_count_clothes')]=base[i]['trait_count']
            df.iloc[index, df.columns.get_loc('order_clothes')]=base[i]['order']

        elif base[i]['trait_type']=='Earring':
            df.iloc[index, df.columns.get_loc('value_earring')]=base[i]['value']
            df.iloc[index, df.columns.get_loc('display_type_earring')]=base[i]['display_type']
            df.iloc[index, df.columns.get_loc('max_value_earring')]=base[i]['max_value']
            df.iloc[index, df.columns.get_loc('trait_count_earring')]=base[i]['trait_count']
            df.iloc[index, df.columns.get_loc('order_earring')]=base[i]['order']
            
        elif base[i]['trait_type']=='Eyes':
            df.iloc[index, df.columns.get_loc('value_eyes')]=base[i]['value']
            df.iloc[index, df.columns.get_loc('display_type_eyes')]=base[i]['display_type']
            df.iloc[index, df.columns.get_loc('max_value_eyes')]=base[i]['max_value']
            df.iloc[index, df.columns.get_loc('trait_count_eyes')]=base[i]['trait_count']
            df.iloc[index, df.columns.get_loc('order_eyes')]=base[i]['order']
            
        elif base[i]['trait_type']=='Fur':
            df.iloc[index, df.columns.get_loc('value_fur')]=base[i]['value']
            df.iloc[index, df.columns.get_loc('display_type_fur')]=base[i]['display_type']
            df.iloc[index, df.columns.get_loc('max_value_fur')]=base[i]['max_value']
            df.iloc[index, df.columns.get_loc('trait_count_fur')]=base[i]['trait_count']
            df.iloc[index, df.columns.get_loc('order_fur')]=base[i]['order']
            
        elif base[i]['trait_type']=='Hat':
            df.iloc[index, df.columns.get_loc('value_hat')]=base[i]['value']
            df.iloc[index, df.columns.get_loc('display_type_hat')]=base[i]['display_type']
            df.iloc[index, df.columns.get_loc('max_value_hat')]=base[i]['max_value']
            df.iloc[index, df.columns.get_loc('trait_count_hat')]=base[i]['trait_count']
            df.iloc[index, df.columns.get_loc('order_hat')]=base[i]['order']
            
        elif base[i]['trait_type']=='Mouth':
            df.iloc[index, df.columns.get_loc('value_mouth')]=base[i]['value']
            df.iloc[index, df.columns.get_loc('display_type_mouth')]=base[i]['display_type']
            df.iloc[index, df.columns.get_loc('max_value_mouth')]=base[i]['max_value']
            df.iloc[index, df.columns.get_loc('trait_count_mouth')]=base[i]['trait_count']
            df.iloc[index, df.columns.get_loc('order_mouth')]=base[i]['order']
            
        elif base[i]['trait_type']=='Name':
            # This column isn't important - only 5 assets have this data
            continue

### Describe the created Dataframe

In [99]:
include =['object', 'float', 'int']
df.describe(include=include)

,id,token_id,asset_contract_address,permalink,traits,image_original_url,created_date,current_price,last_sale_total_price,last_sale_event_timestamp,...,value_hat,display_type_hat,max_value_hat,trait_count_hat,order_hat,value_mouth,display_type_mouth,max_value_mouth,trait_count_mouth,order_mouth
count,1.184300e+04,11843.000000,11843,11843,11843,11843,11843,11843,11843,11843,...,11843,2645,2645,11843,2645,11843,5,5,11843.0,5
unique,NaN,NaN,1,11843,11843,11843,1,530,1498,7912,...,73,1,1,65,1,67,1,1,60.0,1
top,NaN,NaN,0x60e4d786628fea6478f785a6d7e704777c86a7c6,https://opensea.io/assets/0x60e4d786628fea6478...,"[{'trait_type': 'Mouth', 'value': 'M1 Bored Un...",https://ipfs.io/ipfs/QmURua8bNrAwX76Tp6G9t6Los...,2021-08-29T00:41:59.548458,Not on sale. Taking offers.,Not available.,Not available.,...,-,-,-,-,-,M1 Bored,-,-,3032.0,-
freq,NaN,NaN,11843,1,1,1,11843,9800,3362,3362,...,2645,2645,2645,2645,2645,2039,5,5,2039.0,5
mean,4.605787e+07,6133.845394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.948876e+07,3781.787504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4.218842e+07,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.219661e+07,2960.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,4.220168e+07,5921.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4.220609e+07,8881.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.906658e+08,14648.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**NOTE** - All entries under asset_contract_address is the same.

### Save as CSV

In [102]:
df.to_csv('../data/mutant-ape-collection_PREPROCESSED.csv')